<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<form action="{% url 'create_post' %}">
    <button type="submit" value="">Создать пост</button>
</form>
{% for post in posts %}
   <div>
           <h2 align="center">
               <a href="{% url 'show_post_list'%}{{post.id}}">{{post.title}}</a>
           </h2>
           <p align="center">Автор: {{post.author}}</p>
   </div>
<hr align="center" width="75%">
{% endfor %}
</body>
</html>